<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Launchpads</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
        ul.is-unstyled {
            list-style: none;
            padding: 0;
            margin: 0 0 0 1em;
        }
    </style>
</head>

<body>
    <div class="content columns mt-2 mb-2">
        <div class="column"></div>
        <section class="column is-flex-grow-2">
            <h1>Launchpads</h1>
            <% if (searchBy) { %>
                <h4><%= searchBy %> = <%= searchVal %></h4>
            <% } %>
            <% launchpads.forEach((launchpad) => { %>
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <p class="i-5">
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-4by3">
                                            <img src="<%= launchpad.images.large[0] %>" alt="launchpad">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content">
                                                <p class="title is-4"><%= launchpad.full_name %> (<%= launchpad.name %>)</p>
                                                <p class="subtitle is-6">
                                                    <section>
                                                        <p class="subtitle is-size-6">
                                                            <%= launchpad.details %>
                                                        </p>
                                                    </section>
                                                    <span class="has-text-weight-medium"><a href="<%= launchpad.wikipedia %>">Wikipedia</a></span><br />
                                                    <br />
                                                    <span class="has-text-weight-medium">Images:</span><br />
                                                        <ul class="is-unstyled">
                                                            <% launchpad.images.large.forEach((i) => { %>
                                                                <li><a href="<%= i %>">image</a></li>
                                                            <% }); %>
                                                        </ul>
                                                    <br />
                                                    <span class="has-text-weight-medium">Status: </span><%= launchpad.status %><br />
                                                    <span class="has-text-weight-medium">Locality: </span><%= launchpad.locality %><br />
                                                    <span class="has-text-weight-medium">Region: </span><%= launchpad.region %><br />
                                                    <span class="has-text-weight-medium">Timezone: </span><%= launchpad.timezone %><br />
                                                    <span class="has-text-weight-medium">GPS (latitude, longitude): </span><%= launchpad.latitude %>, <%= launchpad.longitude %><br />
                                                    <span class="has-text-weight-medium">Landing Attemps: </span><%= launchpad.landing_attempts %><br />
                                                    <span class="has-text-weight-medium">Landing Successes: </span><%= launchpad.landing_successes %><br />
                                                    <br />
                                                    <span class="has-text-weight-medium">Rockets: </span><br />
                                                    <ul class="is-unstyled">
                                                        <% launchpad.rockets.forEach((rocket) => { %>
                                                            <li><%= rocket %></li>
                                                        <% }); %>
                                                    </ul>
                                                    <span class="has-text-weight-medium">Launches: </span><br />
                                                    <ul class="is-unstyled">
                                                        <% launchpad.launches.forEach((launch) => { %>
                                                            <li><%= launch %></li>
                                                        <% }); %>
                                                    </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            <% }); %>
        </section>
        <div class="column"></div>
    </div>
</body>

</html>